.jumbotron{
    background-image: url("https://media.giphy.com/media/vtEQw8ECT6Qjm/giphy.gif");
    background-repeat:no-repeat;
    background-size: 100%;
    background-position: center;
    color:whitesmoke;
}